.mainTitle{
  padding: 5px;
}

textarea{
  width: 100%;
}
i{
  font-size: 70px !important;
  margin: 25px;
}

.perfectcenter{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn1{
  display:none;
  margin-bottom: 15px;
  border-radius: 100px!important;
}

#btn2{
  background: #fff;
}

.topo{
  margin-top: 20px;
}

.caracteristicas{
  background: #28ac3c;
  text-align: center;
  color: #fff;
}

.form-control{
  margin-bottom: 10px;
}

.imagemGrande{
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.imgPrincipal{
  max-width: 200px;
  margin-left: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bolinha{
  display: block;
  height: 120px;
  width: 120px;
  background: #fff;
  margin: 0 auto;
  border-radius: 100%;
  color: #28ac3c;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.75);
}

.aspas{
    background: #fff;
    align-self: flex-end;
}

.contato{
  margin-top: 40px;
  padding: 5px;
  background: #28ac3c;
  color: #fff;
}

.saber{
  margin-top: 40px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font-family: 'Montserrat', sans-serif;
}
.tituloItem{
  font-weight: bold;
}
/* @media only screen and (min-width:768px){
  
} */
